In [1]:
list1 = ['a','b',1,{'Name':'ABC','age':22}]

In [2]:
list1[1]

'b'

In [3]:
list1[3]

{'Name': 'ABC', 'age': 22}

In [4]:
list1[3]['age']

22

In [5]:
a = [1,2,3,4]

In [6]:
a.append([6,7,8])

In [7]:
a

[1, 2, 3, 4, [6, 7, 8]]

In [8]:
a.extend([6,7,8])

In [9]:
a

[1, 2, 3, 4, [6, 7, 8], 6, 7, 8]

In [10]:
for i in range(2,0):
    print(i)

In [11]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [12]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [13]:
serie = [180,313,101,255,202,198,109,183,181,113,171,165,318,145,226,113,268,108]

In [14]:
import numpy as np

In [57]:
mean=np.mean(serie)

In [58]:
std=np.std(serie)

In [61]:
max=mean+std

In [62]:
min=mean-std

In [53]:
newSerie = []

In [63]:
for i in serie:
    if i>min and i<max:
        newSerie.append(i)

In [66]:
len(serie)

18

In [64]:
len(newSerie)

18

In [65]:
newSerie

[180,
 202,
 198,
 183,
 181,
 171,
 165,
 145,
 226,
 180,
 202,
 198,
 183,
 181,
 171,
 165,
 145,
 226]

In [67]:
3/4

0.75

In [ ]:
1.2
male
fema
rural +1 
younger +1 
old

In [69]:
1400*0.03

42.0